@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #ffffff;
}
::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0;
  font-family: poppins, Prompt;
  background-color: var(--background-color);
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.spinner {
  width: 100%;
  height: 2px;
  background: linear-gradient(#fe734d 0 0) left/0% 100% no-repeat #dbdcef;
  animation: progress-jgv380 2s infinite linear;
}

@keyframes progress-jgv380 {
  100% {
    background-size: 100% 100%;
  }
}

.spinner2 {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, #fe734d);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
  animation: spinner-zp9dbg 1s infinite linear;
}

@keyframes spinner-zp9dbg {
  to {
    transform: rotate(1turn);
  }
}

@layer components {
  .mainContainer {
    @apply max-w-sm px-4 mx-auto;
  }
  .title {
    @apply text-4xl pt-12 text-gray-900 font-semibold;
  }
  .subTitle {
    @apply text-base text-gray-700 font-normal;
  }
  .input {
    @apply block bg-white 
    border border-gray-200 rounded-2xl py-4 px-6 shadow-sm w-full text-gray-900 
    placeholder-gray-400 outline-none
    focus:outline-main-400 
     focus:outline-1 focus:outline-offset-0
     disabled:bg-gray-100 disabled:text-gray-400;
  }
  .label {
    @apply text-sm text-gray-400;
  }
  .primary {
    @apply bg-main-400 w-full py-4 rounded-3xl text-white shadow-button disabled:bg-gray-300 disabled:shadow-none disabled:text-gray-400;
  }

  .second {
    @apply p-2 shadow-card rounded-2xl text-gray-500 border border-gray-100;
  }
  .down {
    @apply bottom-8 absolute left-1/2 transform -translate-x-1/2 max-w-sm px-4;
  }

  .outLine {
    @apply w-full py-3 rounded-3xl text-gray-400    text-center border  border-gray-300 cursor-pointer active:bg-gray-50;
  }
  .outLineDashed {
    @apply w-full py-3 rounded-3xl text-gray-400    text-center border border-dashed border-gray-300 cursor-pointer active:bg-gray-50;
  }
  .smallButton {
    @apply border border-gray-200 py-2 px-4 rounded-2xl text-main-400 text-2xl active:bg-gray-50 cursor-pointer;
  }

  .menuItem {
    @apply text-center cursor-pointer active:bg-gray-100 p-2 rounded-2xl transition active:ease-in-out;
  }
  .tapActive {
    @apply bg-main-400 py-2 text-white w-full text-center rounded-3xl cursor-pointer;
  }
  .tapInactive {
    @apply w-full text-center m-auto text-main-400 cursor-pointer;
  }
  .divider {
    @apply border-b border-gray-200;
  }
  .topLine {
    @apply border-t-2 border-main-400;
  }
}
